<template>
    <div class="p-strip">
        <loading :loading="loading" />

        <div class="row u-clearfix" v-if="!loading">
            <h1>Grocery Categories</h1>

            <a class="p-button--positive" @click="editCategory()">
                <i class="fa fa-plus"></i> New Category
            </a>

            <ul class="p-list--divided">
                <li
                    v-for="category in categories"
                    :key="category.id"
                    class="p-list__item"
                >
                    <a class="u-float-right" @click="editCategory(category)">
                        <i class="fa fa-edit"></i>
                    </a>

                    {{category.name}}
                </li>
            </ul>
        </div>

        <edit-category
            v-model="category"
            :show="showEditCategory"
            @save="saveCategory()"
            @delete="deleteCategory()"
            @cancel="showEditCategory = false"
        />
    </div>
</template>

<script>
import storage from '@/storage';
import {categorySort} from '@/sorts';
import EditCategory from '@/components/EditCategory';

export default {
    name: 'GroceryCategories',
    head: {
        title: {inner: 'Grocery Categories'},
    },
    components: {EditCategory},
    data() {
        return {
            loading: true,
            categories: [],
            showEditCategory: false,
            category: {},
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        async load() {
            this.loading = true;

            let categories = await storage.groceryCategories.list();
            categories.sort(categorySort);
            this.categories = categories;

            this.loading = false;
        },
        editCategory(category) {
            if (category) {
                this.category = {...category};
            }
            else {
                this.category = {name: ''};
            }
            this.showEditCategory = true;
        },
        async saveCategory() {
            await storage.groceryCategories.save(this.category);

            this.showEditCategory = false;
            await this.load();
        },
        async deleteCategory() {
            await storage.groceryCategories.remove(this.category.id);

            this.showEditCategory = false;
            await this.load();
        },
    },
};
</script>
