<template>
    <div class="row p-strip">
        <div v-if="is_new">
            <h1 v-translate>New Recipe</h1>
        </div>
        <div v-else>
            <h1>Edit Recipe</h1>
        </div>

        <loading :loading="loading" />

        <div class="row" v-if="!loading">
            <form class="p-form p-form--stacked">
                <div class="p-form__group row">
                    <label for="title" class="col-4" v-translate>Title</label>
                    <input
                        type="text"
                        id="title"
                        class="col-8"
                        :disabled="saving"
                        v-model="recipe.title"
                    />
                </div>

                <div class="p-form__group row">
                    <label for="source" class="col-4" v-translate>Source</label>
                    <input
                        type="text"
                        id="source"
                        class="col-8"
                        :disabled="saving"
                        v-model="recipe.source"
                    />
                </div>

                <div class="p-form__group row">
                    <label for="description" class="col-4" v-translate>Description</label>
                    <textarea
                        id="description"
                        class="col-8"
                        :disabled="saving"
                        v-model="recipe.description"
                        rows="2"
                    ></textarea>
                </div>

                <div class="p-form__group row">
                    <label for="ingredients" class="col-4" v-translate>Ingredients</label>
                    <div class="col-8 u-clearfix">
                        <textarea
                            id="ingredients"
                            :disabled="saving"
                            v-model="recipe.ingredients"
                            rows="10"
                            ref="ingredients"
                            @paste="cleanup($event, 'ingredients')"
                        ></textarea>
                        <p class="p-form-help-text" v-translate>
                            Use a # to group ingredients, for example
                            "# Dressing", "# Salad"
                        </p>
                    </div>
                </div>

                <div class="p-form__group row">
                    <label for="directions" class="col-4" v-translate>Directions</label>
                    <textarea
                        id="directions"
                        class="col-8"
                        :disabled="saving"
                        v-model="recipe.directions"
                        rows="10"
                        ref="directions"
                        @paste="cleanup($event, 'directions')"
                    ></textarea>
                </div>

                <div class="p-form__group row">
                    <label for="notes" class="col-4" v-translate>Notes</label>
                    <textarea
                        id="notes"
                        class="col-8"
                        :disabled="saving"
                        v-model="recipe.notes"
                        rows="5"
                    ></textarea>
                </div>

                <div class="p-form__group row">
                    <label for="prep_time" class="col-4" v-translate>Prep Time</label>
                    <input
                        type="number"
                        id="prep_time"
                        class="col-8"
                        :disabled="saving"
                        v-model="recipe.prep_time"
                        min="0"
                    />
                </div>

                <div class="p-form__group row">
                    <label for="total_time" class="col-4" v-translate>Total Time</label>
                    <input
                        type="number"
                        id="total_time"
                        class="col-8"
                        :disabled="saving"
                        v-model="recipe.total_time"
                        min="0"
                    />
                </div>

                <div class="p-form__group row">
                    <label for="image" class="col-4" v-translate>Image Link</label>
                    <input
                        type="url"
                        id="image"
                        class="col-8"
                        :disabled="saving"
                        v-model="recipe.image"
                    />
                </div>

                <div class="p-form__group row">
                    <label for="image" class="col-4" v-translate>Rating</label>
                    <div class="col-8">
                        <i
                            class="fa fa-2x star clickable"
                            :class="{'fa-star': recipe.rating >= 1, 'fa-star-o': recipe.rating < 1}"
                            @click="recipe.rating = 1"
                        ></i>
                        <i
                            class="fa fa-2x star clickable"
                            :class="{'fa-star': recipe.rating >= 2, 'fa-star-o': recipe.rating < 2}"
                            @click="recipe.rating = 2"
                        ></i>
                        <i
                            class="fa fa-2x star clickable"
                            :class="{'fa-star': recipe.rating >= 3, 'fa-star-o': recipe.rating < 3}"
                            @click="recipe.rating = 3"
                        ></i>
                        <i
                            class="fa fa-2x star clickable"
                            :class="{'fa-star': recipe.rating >= 4, 'fa-star-o': recipe.rating < 4}"
                            @click="recipe.rating = 4"
                        ></i>
                        <i
                            class="fa fa-2x star clickable"
                            :class="{'fa-star': recipe.rating >= 5, 'fa-star-o': recipe.rating < 5}"
                            @click="recipe.rating = 5"
                        ></i>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-12">
                    <a class="p-button--positive" @click="save()" :disabled="saving">
                        <i class="fa mr" :class="{'fa-save': !saving, 'fa-spinner fa-spin': saving}"></i>
                        <span v-translate>Save</span>
                    </a>

                    <router-link
                        class="p-button--neutral"
                        :to="{name: 'recipe-list'}"
                        :disabled="saving"
                        v-if="is_new"
                    >
                        <i class="fa fa-times mr"></i>
                        <span v-translate>Cancel</span>
                    </router-link>

                    <router-link
                        class="p-button--neutral"
                        :to="{name: 'recipe-view', params: {id: $route.params.id}}"
                        :disabled="saving"
                        v-else
                    >
                        <i class="fa fa-times mr"></i>
                        <span v-translate>Cancel</span>
                    </router-link>
                </div>
            </div>
        </div>

        <modal name="error-message">
            <div class="p-strip">
                <h3>
                    <span v-translate>Error</span>: {{errorMessage}}
                </h3>

                <button class="p-button--neutral" @click="closeErrorMessage()" v-translate>
                    Ok
                </button>
            </div>
        </modal>
    </div>
</template>

<script>
import storage from '@/storage';

export default {
    name: 'RecipeEdit',
    head: {
        title: function() {
            return {
                inner: this.is_new ? this.$gettext('New Recipe') : this.$gettext('Edit Recipe'),
            };
        },
    },
    data() {
        return {
            is_new: !this.$route.params.id,
            recipe: {
                rating: 0,
            },
            saving: false,
            loading: false,
            error: false,
            errorMessage: '',
        };
    },
    created() {
        if (this.$route.params.id) {
            this.load();
        }
    },
    methods: {
        load() {
            this.loading = true;
            storage.recipes.find(this.$route.params.id).then((recipe) => {
                if (recipe) {
                    if (!recipe.rating) {
                        recipe.rating = 0;
                    }

                    if (!recipe.total_time) {
                        recipe.total_time = '';
                    }

                    if (!recipe.prep_time) {
                        recipe.prep_time = '';
                    }

                    this.recipe = recipe;
                    this.$emit('updateHead');
                }
                else {
                    this.errorMessage = this.$gettext('Recipe not found');
                    this.$modal.show('error-message');
                }

                this.loading = false;
            }).catch((err) => {
                console.error(err);
                if (err.getMessage) {
                    this.errorMessage = err.getMessage();
                }
                else {
                    this.errorMessage = err;
                }

                this.$modal.show('error-message');
            });
        },
        save() {
            this.saving = true;

            storage.recipes.save(this.recipe).then((recipe) => {
                this.saving = false;
                this.$router.push({name: 'recipe-view', params: {id: recipe.id}});
            });
        },
        closeErrorMessage() {
            this.is_new = true;
            this.$emit('updateHead');

            this.$modal.hide('error-message');
            this.$router.push({name: 'recipe-new'});
        },
        cleanup(e, key) {
            if (!this.recipe[key]) {
                e.preventDefault();
                e.stopPropagation();
                let clipboardData = (e.clipboardData || window.clipboardData).getData('text');

                let values = clipboardData.split('\n');
                values = values.map((value) => value.trim()).filter((value) => !!value);

                this.recipe[key] = values.join('\n');

                // This is needed because just setting the value doesn't update the textbox
                this.$refs[key].value = this.recipe[key];
            }
        },
    },
};
</script>

<style scoped>
.star {
    padding-right: 0.1em;
}
/*
textarea {
    width: 100%;
    max-width: 100%;
}
*/
</style>
