<template>
    <div id="app">
        <header id="navigation" class="p-navigation">
            <div class="row p-navigation__row">
                <div class="p-navigation__banner">
                    <div class="p-navigation__logo">
                        <div class="back" >
                            <router-link
                                :to="{name: 'recipe-list'}"
                                v-if="$route.name == 'recipe-view' || $route.name == 'recipe-new'"
                            >
                                <i class="fa fa-chevron-left mr"></i>
                            </router-link>

                            <router-link
                                :to="{name: 'recipe-view', params: $route.params}"
                                v-if="$route.name == 'recipe-edit'"
                            >
                                <i class="fa fa-chevron-left mr"></i>
                            </router-link>

                            <router-link
                                :to="{name: 'grocery-list'}"
                                v-if="$route.name == 'grocery-edit' || $route.name == 'grocery-categories'"
                            >
                                <i class="fa fa-chevron-left mr"></i>
                            </router-link>
                        </div>

                        <span class="p-contextual-menu p-contextual-menu--left">
                            <a
                                @click="showMenu = !showMenu"
                                class="p-contextual-menu__toggle"
                                aria-controls="#menu"
                                :aria-expanded="showMenu ? 'true' : 'false'"
                                aria-haspopup="true"
                            >
                                Recipe Boss

                                <i class="fa" :class="{'fa-caret-down': !showMenu, 'fa-caret-up': showMenu}"></i>
                            </a>
                            <span
                                id="menu"
                                class="p-contextual-menu__dropdown"
                                :aria-hidden="showMenu ? 'false' : 'true'"
                                aria-label="submenu"
                            >
                                <span class="p-contextual-menu__group">
                                    <router-link :to="{name: 'recipe-list'}" class="p-contextual-menu__link">
                                        <span v-translate>Recipes</span>
                                    </router-link>
                                    <router-link :to="{name: 'grocery-list'}" class="p-contextual-menu__link">
                                        <span v-translate>Grocery List</span>
                                    </router-link>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </header>

        <div class="row">
            <router-view/>
        </div>

        <footer class="p-strip">
            <div class="row">
                <nav>
                    <ul class="p-inline-list--middot">
                        <li class="p-inline-list__item" v-if="!appMode">
                            <span>
                                <span v-translate>Language</span>:
                                <select
                                    class="language-select"
                                    name="language"
                                    v-model="$language.current"
                                >
                                    <option
                                        v-for="(language, key) in $language.available"
                                        :key="key"
                                        :value="key"
                                    >
                                        {{language}}
                                    </option>
                                </select>
                            </span>
                        </li>

                        <li class="p-inline-list__item" v-if="appMode">
                            <a
                                href="https://bhdouglass.com/##EXTERNAL##"
                                v-translate
                            >
                                Created by Brian Douglass
                            </a>
                        </li>
                        <li class="p-inline-list__item" v-else>
                            <a
                                href="https://bhdouglass.com/"
                                target="_blank"
                                v-translate
                            >
                                Created by Brian Douglass
                            </a>
                        </li>

                        <li class="p-inline-list__item" v-if="appMode">
                            <a
                                href="https://gitlab.com/bhdouglass/recipe-boss##EXTERNAL##"
                                v-translate
                            >
                                Fork this on GitLab
                            </a>
                        </li>
                        <li class="p-inline-list__item" v-else>
                            <a
                                href="https://gitlab.com/bhdouglass/recipe-boss"
                                target="_blank"
                                v-translate
                            >
                                Fork this on GitLab
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</template>

<script>
import Vue from 'vue';
import Widget from 'remotestorage-widget';

import storage from './storage';

export default {
    name: 'app',
    data() {
        return {
            appMode: (process.env.VUE_APP_APP_MODE === 'true'),
            showMenu: false,
        };
    },
    created() {
        let language = null;

        if (process.env.VUE_APP_APP_MODE != 'true') {
            language = window.localStorage.getItem('language');
        }

        if (!language) {
            language = window.navigator.language.replace('-', '_');
        }

        if (language && this.$language.available[language]) {
            Vue.config.language = language;
        }
        else {
            language = language.substring(0, language.indexOf('_'));
            if (language && this.$language.available[language]) {
                Vue.config.language = language;
            }
        }

        Vue.nextTick().then(() => {
            let widget = new Widget(storage.remoteStorage);
            widget.attach();
        });
    },
    watch: {
        '$language.current': function() {
            window.localStorage.setItem('language', this.$language.current);
        },
        '$route.name': function() {
            this.showMenu = false;
        },
    },
};
</script>

<style>
#app {
    margin-top: 0;
}

.mr {
    margin-right: 0.5rem;
}

.ml {
    margin-left: 0.5rem;
}

.language-select {
    margin-left: 0.5rem;
    width: 7rem;
}

.back a {
    color: #111;
}

.loading {
    height: 4em;
}

.flower-spinner {
    position: absolute;
    left: calc(50% - 35px);
}

.p-contextual-menu__toggle {
    margin: 0;
}

.p-contextual-menu__toggle {
    color: #111;
}

.p-contextual-menu__toggle:hover {
    text-decoration: none;
}

.p-contextual-menu__toggle i {
    font-size: 0.75em;
}

.p-navigation .p-navigation__banner {
    overflow: visible;
}

.p-navigation .p-navigation__logo {
    font-size: 1.5rem;
    line-height: 1.25;
}

.p-navigation .p-navigation__logo {
    padding-top: 0.5rem;
}

.clickable {
    cursor: pointer;
}

/* TODO move this into RecipeView, it needs to be here for now because of the v-html */
.ingredients h4 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
</style>
